<header th:fragment="header">

<div class="p-5 bg-primary text-white text-center">
  <h1>Pruebas de sistemas</h1>
  <p>Rapida y Efectiva, mantenible en el tiempo!</p> 
</div>

  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" th:href="@{/tutorials}">
      BezKoder
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="topNavbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" th:href="@{/tutorials}">Tutorials</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/tutorials/new}">Add</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/tutorials/diseno}">vista</a>
        </li>
      </ul>
    </div>
  </nav>
</header>